<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>    
    <bindings>
      <netTcpBinding>
        <binding name="tcpEndPoint" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:9191/ServerSide" binding="netTcpBinding"
        bindingConfiguration="tcpEndPoint" contract="ServiceReference1.IChatService"
        name="tcpEndPoint">
        <identity>
          <userPrincipalName value="RAMIELPC\Shadow" />
        </identity>
      </endpoint>
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="NewBehavior0">
          <serviceMetadata />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="NewBehavior0" name="Server.ChatService">
        <endpoint address="net.tcp://localhost:9191/ServerSide" binding="netTcpBinding"
            bindingConfiguration="" name="tcpEndPoint" contract="Server.IChatService" />
        <endpoint address="net.tcp://localhost:9191/ServerSide/mex" binding="mexTcpBinding"
            bindingConfiguration="" name="mexTcpEndPoint" contract="IMetadataExchange" />
      </service>
    </services>
  </system.serviceModel>
</configuration>