<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings />
        <client />
        <behaviors>
            <serviceBehaviors>
                <behavior name="NewBehavior0">
                    <serviceMetadata />
                    <serviceDebug includeExceptionDetailInFaults="true"/>
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="NewBehavior0" name="Server.ChatService">
                <endpoint address="net.tcp://localhost:9191/ServerSide" binding="netTcpBinding"
                    bindingConfiguration="" name="tcpEndPoint" contract="Server.IChatService" />
                <endpoint address="net.tcp://localhost:9191/ServerSide/mex" binding="mexTcpBinding"
                    bindingConfiguration="" name="mexTcpEndPoint" contract="IMetadataExchange" />
            </service>
        </services>
    </system.serviceModel>
</configuration>